<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.sample.mapper.UserMapper">
	<!-- id 중복검사 -->
	<select id="userIdCheck" resultType="int">
	     select count(*) from tbl_user where userid=#{userid}
	</select>
	
	<!-- 회원등록 -->
	<insert id="userWrite">
		insert into tbl_user(name, userid, passwd, tel, email, gubun)
						values(#{name},#{userid},#{passwd},#{tel},#{email}, #{gubun})
	</insert>
	
	<!-- 회원로그인  -->
	<select id="userLogin" resultType="com.mnu.sample.domain.UserDTO">
		select * from tbl_user where userid=#{userid} and passwd=#{passwd}
	</select>
	
	<!-- 로그인날 자 업데이트 -->
	<update id="userLastTimeUpdate">
		update tbl_user set last_time=sysdate where userid=#{userid}
	</update>
	
	
</mapper>