<!-- 메뉴 include -->
<th:block th:replace="~{Include/topmenu}"></th:block>

<html>
   <head>
      <title> 게시판 내용 보기 </title>
 <link rel="stylesheet" type="text/css" href="/stylesheet.css">
   <style type="text/css">
     td.title { padding:4px; background-color:#e3e9ff }
     td.content { padding:10px; line-height:1.6em; text-align:justify; }
     a.list { text-decoration:none;color:black;font-size:10pt; }
   </style>
   
<script>
	function pds_del(idx, page){
		url="/Pds/pds_delete?idx="+idx+"&page="+page;
		window.open(url,"pds_delete","width=300 height=300");
		
	}
	function pds_del2(idx, page){
		url="/Pds/pds_delete?idx="+idx+"&page="+page;
		window.open(url,"pds_delete","width=300 height=300");
		
	}

</script>

   
 </head>

   <!--DB에서 검색한 자료를 화면에 출력  -->
 <body topmargin="0" leftmargin="0">
 <table border="0" width="800">
   <tr>
     <td width="20%"  height="500" bgcolor="#ecf1ef" valign="top">

		<!--  로그인 폼 추가 -->
		<th:block th:replace="~{Include/login_form}"></th:block>

     </td>
     <td width="80%" valign="top">
       &nbsp;<br>
     <table border="0" width="90%" align="center">
       <tr>
         <td colspan="2"><img src="/Images/img/bullet-01.gif"> 
           <font color="blue" size="3">참 좋은 자료실</font><font size="2"> - 자료읽기</font></td>
       </tr>
     </table>
     <p>

     <table border="0" width="90%" align="center" cellspacing="0" style="border-width:1px;border-color:#0066cc;border-style:outset;">
       <tr bgcolor="e3e9ff">
         <td class="title">
           <img src="/Images/img/bullet-04.gif">   
           <font size="2" face="돋움" th:text="${pds.subject}"></font>
          </td>
         </tr>
		<tr>  
			<td class="content">
			<p align="right">
               <font size="2" face="돋움" th:text="${pds.name}"></font> / 
               <font size="2" face="돋움" th:text="|${pds.regdate} / ${pds.readcnt}번 읽음|"></font>
             </p>  
               <p th:utext="${pds.contents}"><p><!--contents의 내용을 <BR>태그로 처리-->
			   <span th:if="${pds.filename!=null}">
			      <img src="/Images/img/disk.gif" align="middle" width="22" height="20" border="0">&nbsp;<a class="list" th:href="@{/Pds/down_load(filename=${pds.filename})}"><span th:text="${pds.filename}"></span></a>
			   </span>
			</td>
		</tr>
  </table>
  <p align="center">
  <font size="2">
       <!-- 새글쓰기 -->
       <a th:href="@{/Pds/pds_write(page=${page})}">
       <img src="/Images/img/write.jpg" border="0"></a>&nbsp;&nbsp;
	   <!-- 수정하기 -->
       <a th:href="@{/Pds/pds_modify(idx=${pds.idx}, page=${page})}">
       <img src="/Images/img/edit.gif" border="0"></a>&nbsp;&nbsp;
         <!-- 삭제하기 -->
       <a th:onclick="|javascript:pds_del('${pds.idx}','${1}')|"><img src="/Images/img/del.gif" border="0"></a>&nbsp;&nbsp;
	   <!-- 삭제 button 사용시 -->
       <button th:onClick="/Pds/pds_del2([[${pds.idx}]],[[${page}]])">[삭제2]</button>
       
       <!-- 목록보기 -->
       <a th:href="@{/Pds/pds_list(page=${page})}"><img src="/Images/img/list-2.gif" border="0"></a>&nbsp;&nbsp;
  </font></td></tr>  
</table>  
</body>  
</html>


</body>
</html>